useDynLib(uts)

### Import packages
import(lubridate)
importFrom(stats, lag, na.omit)


### Export class constructors
export(POSIXct_vector)
export(POSIXct_matrix)
export(uts)


### Export generic methods
export(next_business_day, previous_business_day)
export(as.POSIXct_matrix)
#
export(as.uts)
export(sample_values)
export(which)


### Register S3 methods (needed if a package is imported but not attached to the search path)
S3method(next_business_day, POSIXt)
S3method(previous_business_day, POSIXt)
#
S3method(POSIXct_vector, default)
#
S3method(POSIXct_matrix, POSIXct)
S3method(POSIXct_matrix, POSIXct_vector)
S3method(as.POSIXct_matrix, POSIXct_vector)
#
S3method("[", uts)
S3method(as.uts, ts)
S3method(as.uts, zoo)
S3method(is.na, uts)
S3method(lag, uts)
S3method(length, uts)
S3method(Math, uts)
S3method(merge, uts)
S3method(na.omit, uts)
S3method(Ops, uts)
S3method(plot, uts)
S3method(print, uts)
S3method(sample_values, uts)
S3method(str, uts)
S3method(summary, uts)
S3method(Summary, uts)
S3method(which, default)
S3method(which, uts)


### Miscellaneous functions
export(num_leq_sorted_arrays)
export(sorted_union)
export(is.POSIXct_vector)
export(is.POSIXct_matrix)
#
export(ex_uts)
export(ex_uts2)
export(is.uts)
#
export(as.zoo.uts)    # could not figure out how to register S3 method without importing "zoo" package

