### Load dynamic library with compliled C code
useDynLib(uts)


### Import from other packages
import(lubridate)
importFrom(stats, cycle, end, frequency, lag, median, na.omit, sd, start, time, window)
importFrom(utils, head, tail)


### Export class constructors
export(uts)


### Export generic methods
export(as.uts)
export(diff_t)
export(first)
export(head_t)
export(lag_t)
export(last)
export(sample_values)
export(sd)
export(tail_t)
export(which)
export(which.max)
export(which.min)


### Register S3 methods (needed if a package is imported but not attached to the search path)
S3method("[", uts)
S3method("[<-", uts)
S3method(as.uts, ts)
S3method(as.uts, zoo)
S3method(as.data.frame, uts)
S3method(cycle, uts)
S3method(diff, uts)
S3method(diff_t, uts)
S3method(end, uts)
S3method(first, uts)
S3method(frequency, uts)
S3method(head, uts)
S3method(head_t, uts)
S3method(is.na, uts)
S3method(lag, uts)
S3method(lag_t, uts)
S3method(last, uts)
S3method(length, uts)
S3method(Math, uts)
S3method(mean, uts)
S3method(median, uts)
S3method(merge, uts)
S3method(na.omit, uts)
S3method(Ops, uts)
S3method(plot, uts)
S3method(print, uts)
S3method(sample_values, uts)
S3method(sd, default)
S3method(sd, uts)
S3method(start, uts)
S3method(str, uts)
S3method(summary, uts)
S3method(Summary, uts)
S3method(tail, uts)
S3method(tail_t, uts)
S3method(time, uts)
S3method(which, default)
S3method(which, uts)
S3method(which.max, default)
S3method(which.max, uts)
S3method(which.min, default)
S3method(which.min, uts)
S3method(window, uts)


### Miscellaneous functions
export(download_co2)
export(num_leq_sorted)
export(split_segments)
export(sorted_union)
#
export(ex_uts)
export(ex_uts2)
export(is.uts)
#
export(as.zoo.uts)    # could not figure out how to register S3 method without importing "zoo" package

