useDynLib(uts)

### Import packages
import(lubridate)
importFrom(stats, cycle, frequency, lag, na.omit, start, end, window)


### Export class constructors
export(uts)


### Export generic methods
export(as.uts)
export(sample_values)
export(which)


### Register S3 methods (needed if a package is imported but not attached to the search path)
S3method("[", uts)
S3method("[<-", uts)
S3method(as.uts, ts)
S3method(as.uts, zoo)
S3method(as.data.frame, uts)
S3method(cycle, uts)
S3method(end, uts)
S3method(frequency, uts)
S3method(is.na, uts)
S3method(lag, uts)
S3method(length, uts)
S3method(Math, uts)
S3method(merge, uts)
S3method(na.omit, uts)
S3method(Ops, uts)
S3method(plot, uts)
S3method(print, uts)
S3method(sample_values, uts)
S3method(start, uts)
S3method(str, uts)
S3method(summary, uts)
S3method(Summary, uts)
S3method(which, default)
S3method(which, uts)
S3method(window, uts)


### Miscellaneous functions
export(num_leq_sorted_arrays)
export(sorted_union)
#
export(ex_uts)
export(ex_uts2)
export(is.uts)
#
export(as.zoo.uts)    # could not figure out how to register S3 method without importing "zoo" package

